*
!flaskfarmaider_bot/
!flaskfarmaider_bot/__init__.py
!flaskfarmaider_bot/bots.py
!flaskfarmaider_bot/cli.py
!flaskfarmaider_bot/helpers.py
!flaskfarmaider_bot/main.py
!flaskfarmaider_bot/models.py
!flaskfarmaider_bot/servers.py
!flaskfarmaider_bot/settings.sample.yaml
!.gitignore
!pyproject.toml
!README.md
!requirements.txt