*
!flaskfarmaider_bot/
!flaskfarmaider_bot/helpers/
!__init__.py
!bots.py
!cli.py
!main.py
!models.py
!servers.py
!settings.sample.yaml
!.gitignore
!.gitmodules
!pyproject.toml
!README.md
!requirements.txt